
.pancakeproduct{
    padding: 2em;
    padding-top: 12em;
    padding-bottom: 4em;
    border-bottom: 1px solid #000;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pp-heading{
    font-size: 38px;
    font-weight: 500;
    color: teal;
}

.pp-description{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: teal;
    margin-top: 10px;
}

.p-item{
    margin-top: 2em !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding-top: 2em;
}

@media screen and (max-width: 540px){

    .pancakeproduct{
        margin-top: 3em;
        padding: 1em;
    }

    .p-item{
        gap: 1.7em;
    }
}