.twitter-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: teal;
  padding: 1em 2em;
  color: white;
  margin: 0 2em;
  margin-top: 10em;
  margin-bottom: 5em;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0px rgba(0, 0, 0, 0.562);
}

.twitter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username a {
  font-size: 1.4em;
  color: white;
  background-color: black;
  padding: 5px 30px;
  border-radius: 5px;
}

.hashtag a {
  font-size: 3rem;
  color: white;
  font-family: "WaterBrush";
}

@media screen and (max-width: 540px) {
  .twitter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: teal;
    padding: .2em 2em;
    color: white;
    margin: 0 2em;
    margin-top: 6em;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 1px 15px 0px rgba(0, 0, 0, 0.562);
  }

  .twitter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .username {
    margin-top: 10px;
  }

  .username a {
    display: none;
  }

  .hashtag a{
    font-size: 2rem;
    font-family: "WaterBrush";
  }
}
