.picks {
  margin-top: 7em;
  margin-bottom: 5em;
}

.pickscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  flex-wrap: wrap;
}

.picks-text {
  text-align: center;
  margin-top: 3em;
  font-size: 16px;
  color: teal;
  font-weight: bold;
}

.picks-1:hover img {
  transform: translateY(-30px);
  transition: all 1s ease;
}


@media screen and (max-width: 540px) {
  .picks {
    margin-top: 8em;
  }

  .picks-1:hover img {
    transform: none;
  }
}
